body {
    margin: 0;
    background-color: coral;
}

:root {
    --orange: rgb(250, 48, 48) !important;
}

h1 {
    color: var(--orange);
    text-align: center;
}

.container {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    background-color: beige;
    padding: 20px;
    overflow-Y: scroll;
}

.conteinter-2 {
    width: 80%;
    height: 400px;
    padding: 20px;
    margin: 10px auto;
    text-align: justify;
    font-size: 30px;
    background-color: beige;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;

}

.conteinter-2 p {
    margin: 10px;
    width: 50%;
}

.conteinter-2 h1 {
    margin: 10px;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* new term that i learned just now */
}